html {
    background-color: white;
}

body {
    background-image: url("../Images/UsefulImages/freeUni.png");
    background-repeat: no-repeat;
    background-position: center;
}

form {
    min-width: 500px;
    position: absolute;
    padding: 30px;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

label {
    margin-bottom: 3px;
}

input:not([type=checkbox]), .btn {
    min-height: 45px;
    margin-bottom: 10px;
}

.input {
    margin-bottom: 10px;
}

p {
    color: royalblue;
    size: A5;
}
