
body {
    background-color: yellow;
    font-family: 'Open Sans', sans-serif;
}

/* ---------------------------------------------searching below */

input {
    background: url("https://kodyrabatowe.wp.pl/img/ico/search_gr.png") top left no-repeat;
    height:30px;
    padding-left:25px;
}

.searching_div {
    width: 100%;
    padding-top: 0;
    background-color: #555;
    overflow: auto;
}

.searching_div a {
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.searching_div a:hover {
    background-color: #000;
}

#profile_search {
    background-color: antiquewhite;
    width: 25%;
    font-size: 15px;
}

@media screen and (max-width: 500px) {
    .searching_div a {
        float: none;
        display: block;
    }
}


/* ---------------------------------------------------------------------menu */

#menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


#menu a li {
    padding: 15px;
    text-decoration: none;
    color: darkblue;
    display: block
}

#menu li a:hover {
    background-color: snow;
}


/* ---------------------------------------------------- profile section below */

h2 {
    color: darkblue;
    padding-left: 150px;
}

.profile_picture {
    box-sizing: border-box;
    margin: -90px 10px 0 50px;
    z-index: 9;
    width: 20%;
}

.img.back_picture {
    width: 200px;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
}


.profile_div img.back_picture {
    z-index: 0;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

@media (max-width:700px) {
    .profile_picture {
        margin: -45px 10px 0 25px;
        z-index: 9;
        width: 20%;
    }
}